@import "tailwindcss";


@config "../../tailwind.config.js";
     
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


section:nth-child(odd) {
  background-color: white; /* Light gray */
}

section:nth-child(even) {
  background-color: #E2E1DE;
}


.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Optional: Add some padding on the sides */
    padding-right: 1rem; /* Optional: Add some padding on the sides */
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 0) {
    .container {
      max-width: 100%; /* Full width for extra small screens */
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  /* 1400px and up (optional, for even larger screens) */
  @media (min-width: 1400px) {
      .container {
          max-width: 1320px;
      }
  }
